.footer {
  position: relative;
  height: 30px;
}

.copyright {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  font-size: 1.2rem;
  opacity: 0.8;
  text-align: center;
}

.copyright a {
  text-decoration: none;
  color: black;
}

.copyright a:hover {
  color: #ffa600;
}
